# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon must end with two \r
Icon

# Directories
.Trashes
ehthumbs.db
Thumbs.db

# Xcode
build/
DerivedData/
*.xccheckout
*.xcscheme
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
/.build/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Ruby
.bundle/
config.yml
Gemfile.lock
*.gem

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log
*.pid
*.seed
*.swp
*.swo

# Environment files
.env

# VS Code
.vscode/
